.btn {
    font-size: 20px;
    height: 50px;
    min-width: 100px;
    font-weight: bold;

    &.br-100 { border-radius: 100px; }
    &.br-20 { border-radius: 20px; }
    &.br-10 { border-radius: 10px; }
    &.btn-dark {
        color: white;
        background-color: $brand-dark;
    }

    &.btn-url {
        max-width: 170px;
        display: inline-block;
        width: 100%;
    }

    &.btn-primary {
        color: $brand-dark;
        background-color: $brand-primary;
    }

    &.btn-default {
        color: $brand-dark;
        background-color: transparent;
        border: none;

        &:hover {
            color: $brand-dark;
            background-color: $body-bg;
            border: none;
        }
    }

    &.btn-outline {
        border: 2px solid $brand-primary;
        background-color: transparent;
        color: $brand-dark;
        font-size: 16px;
        cursor: pointer;
    }

    img {
        width: 30px;
        height: 30px;
    }

    &:focus {
      color: $brand-dark;
    }

    &.btn-lg {
        padding: 12px 40px;
        border-radius: 4px;
        font-size: 16px;
    }
}

@media (max-width: 560px) {
  .btn {
      font-size: 12px;
      height: 50px;
      min-width: 100px;
      font-weight: bold;
  }
}
