.btn {
    font-size: 20px;
    height: 50px;
    min-width: 200px;
    font-weight: bold;

    &.br-100 { border-radius: 100px; }
    &.br-20 { border-radius: 20px; }
    &.br-10 { border-radius: 10px; }
    &.btn-dark {
        color: white;
        background-color: $brand-dark;
    }

    &.btn-primary {
        color: $brand-dark;
        background-color: $brand-primary;
    }

    &.btn-outline {
        border: 2px solid $brand-primary;
        background-color: transparent;
        color: $brand-dark;
        font-size: 16px;
        cursor: pointer;
    }

    img {
        width: 30px;
        height: 30px;
    }

    &:focus {
      color: $brand-dark;
    }

    &.btn-lg {
        padding: 12px 40px;
        border-radius: 4px;
        font-size: 16px;
    }
}
