$max: 100;
$min: 25;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin paddingAll{
    @while $max > 0 {
        .pd-#{$max}{padding: $max+px}
        $max: $max - 10;
    }
}

@mixin paddingTop{
    @while $max > 0 {
        .pt-#{$max}{padding-top: $max+px}
        $max: $max - 10;
    }
}

@mixin paddingBottom{
    @while $max > 0 {
        .pb-#{$max}{padding-bottom: $max+px}
        $max: $max - 10;
    }
}

@mixin paddingLeft{
    @while $max > 0 {
        .pl-#{$max}{padding-left: $max+px}
        $max: $max - 10;
    }
}

@mixin paddingLeftRight{
    @while $max > 0 {
        .plr-#{$max}{padding-left: $max+px; padding-right: $max+px;}
        $max: $max - 10;
    }
}

@mixin marginAll{
    @while $max > 0 {
        .m-#{$max}{margin: $max+px}
        $max: $max - 10;
    }
}

@mixin marginTop{
    @while $max > 0 {
        .mt-#{$max}{margin-top: $max+px}
        $max: $max - 10;
    }
}

@mixin marginBottom{
    @while $max > 0 {
        .mb-#{$max}{margin-bottom: $max+px}
        $max: $max - 10;
    }
}

@mixin marginLeft{
    @while $max > 0 {
        .ml-#{$max}{margin-left: $max+px}
        $max: $max - 10;
    }
}

@mixin marginRight{
    @while $max > 0 {
        .mr-#{$max}{margin-right: $max+px}
        $max: $max - 10;
    }
}

@mixin fontSizes{
    @while $min > 9 {
        .fs-#{$min}{font-size: $min+px}
        $min: $min - 1;
    }
}

@mixin fontWeight {
    $skip: 100;
    @while $skip < 800 {
        .fw-#{$skip} { font-weight: $skip}
        $skip: $skip + 100;
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin fontSizes{
    @while $min > 9 {
        .fs-#{$min}{font-size: $min+px}
        $min: $min - 1;
    }
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

@mixin box-shadow() {
    box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
}

@mixin blur ($size...) {
    -webkit-filter: blur($size);
    -moz-filter: blur($size);
    -o-filter: blur($size);
    -ms-filter: blur($size);
    filter: blur($size);
}


@mixin tab-active () {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid $brand-primary;
}
