#sticky {
    position: -webkit-sticky;
    position: sticky;
    margin-top: -55px;
    position: relative;
    z-index: 9;
}

._tabs > .nav.nav-tabs {
    border: none;
    color: #fff;
    border-radius:0;
    position: relative;

}

._tabs > div a.nav-item.nav-link{
    border: none;
    padding: 10px;
    color:#fff;
    background: $brand-secondary;
    border-radius:0;
}

._tabs > div a.nav-item.nav-link.active {
    border: none;
    padding: 10px;
    color:#fff;
    background: $brand-primary;
    border-radius:0;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    padding:20px;
    position: relative;
    z-index: 1;

    ._doc-items {
        width: 100%;
        display: flex;
        align-items: center;

        ._doc-item {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 5px;
            padding: 8px 10px;
            margin-bottom: 10px;
            font-size: 16px;
            position: relative;
            @include box-shadow;

            ._doc-image {
                padding: 5px;
                width: 150px;
                min-width: 150px;
                height: 150px;
                object-fit:contain;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                margin-bottom: 10px;

                img {
                    width: 150px;
                    height: 150px;
                }

                i {
                    position: relative;
                    color: white;
                    font-size: 50px;
                    z-index: 9;
                    right: -5px;
                    top: -100px;
                }
            }

            ._doc-content {
                width: 90%;
                padding: 0px 20px;
                cursor: pointer;

                ._doc-head {
                    font-size: 14px;
                    top: 0px;
                    position: relative;

                    ._doc-name {
                        color: $primary;
                        word-wrap: break-word;
                        max-height: 1.4em;
                        line-height: 1.4em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    ._doc-parent {
                        color: $secondary;

                        span {
                            color: $brand-teal;
                        }
                    }
                }

                ._doc-text {
                    color: $brand-dark;
                    display: inline-block;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    overflow: hidden;
                    max-height: 2.8em;
                    line-height: 1.4em;
                    text-align: justify;
                    text-overflow: ellipsis;
                }

                .doc_meta_info {
                    ._meta_wrapper {
                        float: left;
                        margin-top: 10px;
                        margin-right: 10px;

                        ._metadata {
                            display: flex;
                            flex-direction: column;

                            ._data_wrapper {
                                display: flex;
                                flex-direction: row;

                                ._meta_block {
                                    align-self: center;

                                    .meta_item {
                                        border-radius: 2px;
                                        margin-right: 5px;
                                        background-color: #e4e9f2;
                                    }

                                    p {
                                        padding: 5px;
                                        font-size: 13px;

                                        &.name {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }

                            ._more {
                                align-self: center;
                                font-size: 12px;

                                a {
                                    text-decoration: underline;
                                    color: $brand-presumi;
                                }
                            }
                        }
                    }

                    ._download {
                        float: right;
                        display: inline-block;

                        a {
                            color: white;
                            i {
                                padding-right: 5px;
                            }
                        }
                    }

                }
            }


        }
    }
}

.tab_data_modal {

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .3s ease;
    }

    .modal-container {
        width: 500px;
        margin: 40px auto 0;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
    }

    h3 {
        line-height: unset;
    }

    table th, table td {
        padding: unset;
    }
}

._tabs > div a.nav-item.nav-link:hover,
._tabs > div a.nav-item.nav-link:focus {
    border: none;
    background: $primary;
    color:#fff;
    border-radius:0;
    width: auto;
    transition:background 0.20s linear;
}

@media (min-width: 768px) {

}
