.donateurs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;

    .d-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;

       .th-40 { width: 40%; }
       .th-30 { width: 30%; }
    }

    .d-body {
        display: flex;
        flex-direction: column;

       .d-line {
         padding: 10px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         font-size: 10px;
         border-radius: 10px;
         margin-bottom: 10px;
         background-color: white;
         box-shadow: 0 10px 48px rgba(30, 107, 174, 0.1), 0 1px 1px rgba(255, 248, 254, 0.61);
         text-align: center;

         .td-40 { width: 40%; }
         .td-30 { width: 30%; }
       }
    }
}
