._header {
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 40px;

    .logo {
        font-family: 'Ambit Black', 'Monument Extended Bold', Avenir, Calibri, sans-serif;
        color: $brand-dark;
        font-weight: 700;
        font-size: 2em;
        text-transform: uppercase;
    }

    .buttons {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
