.home {
    padding: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // min-width: 560px;

    &.bg-primary {
      background-color: $brand-secondary;
    }

    .button { display: none; }
}

.block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    // min-width: 50%;
    width: 100%;
    max-width: 768px;
    background-color: transparent;

    .p {
      text-align: center;
      font-size: 16px;
    }
}

.btns-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .b-r {
      margin-right: -10px
  }
  .b-l {
      margin-left: -10px
  }

  input {
      border: 2px solid $brand-primary;
      background-color: transparent;
      color: $brand-dark;
      font-size: 16px;
      cursor: pointer;
      height: 50px;
      max-width: 100px;
      border-radius: 10px;
      padding-left: 10px;

      &:focus {
        border: 2px solid $brand-primary;
      }
  }

  .rond {
      color: white;
      background-color: $brand-primary;
      border-radius: 30px;
      border: 1px solid $brand-primary;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;

      i {
        font-size: 18px;
      }
  }
}

.social-icons {

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        word-break: break-all;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 200px;
            height: 60px;
            background-color: white;
            border-radius: 50px;

            img {
              width: 120px;
              height: 50px;
            }
        }

        a {
           text-decoration: none;
           color: $brand-primary;
           font-size: 30px;
        }
    }
}

.recaps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: $brand-secondary;
    border-radius: 10px;
    padding: 20px;

    .recap-line {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;

        .label {
            flex: 50%;
            color: $brand-teal;
        }
        .value {
            flex: auto;
            color: $brand-dark;
            text-align: left;
        }
    }

    .divider {
        border-bottom: 1px solid $brand-dark;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
}

.list-ronds {
  display: flex;
  flex-direction: row;
  align-items: center;

  .rond-item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $brand-dark;
      color: white;
      height: 70px;
      width: 70px;
      border-radius: 70px;
      margin-left: 20px;
      cursor: pointer;

      &.active {
          background-color: $brand-primary;
          color: $brand-dark;
      }
  }
}

.diviseur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;

    .divider {
        border-bottom: 1px solid $brand-dark;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .rond {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        background-color: white;
        color: $brand-dark;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 999;
        padding: 20px;
    }
}

@media (max-width: 560px) {
    .home {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .block {
            width: 100%;
            height: auto;
            padding: 20px;

            .btns-block {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .social-icons {
            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: transparent;

                li { margin-top: 10px; }
            }
        }
    }
}
