.home {
    padding: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // min-width: 560px;

    &.bg-primary {
      background-color: $brand-secondary;
    }

    .button { display: none; }

    .block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        // min-width: 50%;
        width: 100%;
        max-width: 768px;
        background-color: transparent;
    }

    .btns-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .b-r {
          margin-right: -10px
      }
      .b-l {
          margin-left: -10px
      }

      .rond {
          color: white;
          background-color: $brand-primary;
          border-radius: 30px;
          border: 1px solid $brand-primary;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 999;

          i {
            font-size: 18px;
          }
      }
    }

    .block-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: transparent;

         img {
           width: 100%;
           height: 80vh;
         }
    }

    .recaps {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: $brand-secondary;
        border-radius: 10px;
        padding: 20px;

        .recap-line {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;

            .label {
                flex: 50%;
                color: $brand-teal;
            }
            .value {
                flex: auto;
                color: $brand-dark;
                text-align: left;
            }
        }

        .divider {
            border-bottom: 1px solid $brand-dark;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .list-ronds {
      display: flex;
      flex-direction: row;
      align-items: center;

      .rond-item {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $brand-dark;
          color: white;
          height: 70px;
          width: 70px;
          border-radius: 70px;
          margin-left: 20px;
          cursor: pointer;

          &.active {
              background-color: $brand-primary;
              color: $brand-dark;
          }
      }
    }

    .diviseur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 100%;

        .divider {
            border-bottom: 1px solid $brand-dark;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
        }

        .rond {
            width: 70px;
            height: 70px;
            border-radius: 70px;
            background-color: white;
            color: $brand-dark;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 999;
            padding: 20px;
        }
    }
}

@media (max-width: 560px) {
    .home {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .button { display: block; }

        .block {
            width: 100%;
            height: auto;

            .btns-block {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
