#sticky {
    position: -webkit-sticky;
    position: sticky;
    margin-top: -55px;
    position: relative;
    z-index: 9;
}

._tabs > .nav.nav-tabs {
    border: none;
    color: #fff;
    border-radius:0;
    position: relative;

}

._tabs > div a.nav-item.nav-link{
    border: none;
    padding: 10px;
    color:#fff;
    background: $brand-dark;
    border-radius:0;
    margin-right: 2px;

    i {
        padding-right: 5px;
        font-size: 20px;
    }
}

._tabs > div a.nav-item.nav-link.active {
    border: none;
    padding: 10px;
    color:#fff;
    background: $brand-primary;
    border-radius:0;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    padding:20px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    // align-items: center;

    .social-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .tle {
          font-size: 20px;
          margin-bottom: 20px;
          color: $brand-dark;
          border-bottom: 1px solid $brand-primary;
      }

      .social-item {
          width: auto;
          background-color: $brand-dark;
          color: white;
          border-radius: 50px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          a {
              text-decoration: none;
              color: white;

              &:hover {
                  background-color: $brand-primary;
                  color: white;
              }
          }

          &:hover {
              background-color: $brand-primary;
              color: white;
          }
      }
    }
}

.tab_data_modal {

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .3s ease;
    }

    .modal-container {
        width: 500px;
        margin: 40px auto 0;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
    }

    h3 {
        line-height: unset;
    }

    table th, table td {
        padding: unset;
    }
}

._tabs > div a.nav-item.nav-link:hover,
._tabs > div a.nav-item.nav-link:focus {
    border: none;
    background: $primary;
    color:#fff;
    border-radius:0;
    width: auto;
    transition:background 0.20s linear;
}

@media (max-width: 560px) {
    ._tabs > div a.nav-item.nav-link{
        border: none;
        padding: 10px;
        color:#fff;
        background: $brand-dark;
        border-radius:0;
        margin-right: 2px;

        span {display: none}
    }
}
