// Body
// $body-bg: #f5f8fa;
$body-bg: rgba(255, 251, 232, .7);

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
$assets-path: "~@/assets";

// colors
$blue: #1B3C71;
$indigo: #735996;
$purple: #735996;
$pink: #e83e8c;
$red: #dc3545;
$orange: #FF6900;
$yellow: #ffc107;
$green: #46D465;
$green-light: #C8F2D1;
$teal: #20c997;
$cyan: #7C9FC1;

// Brands
$brand-primary: $green;
$brand-secondary: $green-light;
$brand-info: #8eb4cb;
$brand-success: $green;
$brand-warning: #f9c200;
$brand-danger: #f00;
$brand-teal: #636d7e;
$brand-presumi: #007fff;
$brand-orange: #fa5b49;
$brand-dark: #161616;
$brand-darker: #232c32;
$brand-dark-light: #535D7E;
$brand-wise: #38548b;
$brand-wise-dark: #304773;
$brand-grey: #A9AEBE;
$brand-greyer: #777F8E;
$brand-purple: #6772e5;
$brand-yellow: #f9c200;
$brand-yellow-dark: #dfa405;
$brand-purple: #735996;
$brand-font: #6c81a9;
$brand-red: #dc3545;

$primary: $brand-primary;
$secondary: $brand-secondary;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colours
$borderColor: #A9AEBE;
$listBorderColor: #C9C9C9;
$inputFontColour: #8F9FB3;
$linkColour: $brand-presumi;
$linkHoverBackgroundColour: $brand-dark-light;
$primaryColour: $brand-presumi;
$secondaryColour: $brand-success;
$navColour: $brand-dark;
$fontColour: $brand-dark-light;
$primaryFontColour: #535D7E;
$secondaryFontColour: white;
$navBackgroundColour: white;
$navTextColour: $primary;
$navActiveBackgroundColour: white;
$navHoverColour: #f9f9f9;
$footerBackground: $brand-darker;
$sidebarLinkColour: $brand-font;
$sidebarBackgroundColour: #fff;
$sidebarActiveColour: white;
$sidebarActiveBackgroundColour: $brand-primary;
$titleColour: $brand-font;
$formBorderColor: #e4e9f2;
$formColor: #495c80;

$navbar-height: 50px;
$sidebar-width: 240px;
$sidebar-width-double: 480px;

// Vue Context variables
$vue-context-menu-bg: $secondary;
$vue-context-menu-border: rgba(0, 0, 0, 0.15);
$vue-context-item-color: #fff;
$vue-context-item-hover-bg: $primary;
$vue-context-item-hover-color: #fff;

// Progess Bar variables
$bg-color: $secondary;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;
